@model Bajiquan.Database.Associato
@{
    ViewData["Title"] = "Modifica";
}

<h2>Modifica Associato</h2>

@if (ViewData["DBError"] != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewData["DBError"]
    </div>
}

@if ((string)ViewData["SalvataggioRiuscito"] == "si")
{
    <div class="alert alert-success" role="alert">
        Le modifiche per l'associato @ViewData["Nome"] sono state salvate.
    </div>
}

@Html.Partial("SelezionaAssociato", ViewData["ListOfAssociati"])

@if (Model == null)
{
    <form asp-controller="Associati" asp-action="NuovoAssociato" method="post">
        @Html.EditorForModel()
        <button type="submit">Salva</button>
    </form>
}