@model DatabaseView.AssociatoView
@using Bajiquan.Database

@{
    ViewData["Title"] = "NuovoAssociato";
}

<h2>NuovoAssociato</h2>

@if (Model == null)
{
    <form asp-controller="Associati" asp-action="NuovoAssociato" method="post">
        @Html.EditorForModel()
        <button type="submit" value="Salva"></button>
        @(Html.GetEnumSelectList<Bajiquan.Database.Sesso>())
    </form>
}